.DS_Store
xcuserdata/
build/
build_testapp/
build_unittests/

*.swp
*~.nib

/build/
.project
.idea/
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
/Build/
/DerivedData/

/Pods/

/fastlane/report.xml
/fastlane/log
/fastlane/test_output
/fastlane/README.md

Carthage/

toolchain.txt
